[
  {sumo_db, [
  {wpool_opts, [{overrun_warning, 500}]},
  {log_queries, true},
  {query_timeout, 30000},
  {storage_backends, [
    {sumo_blog_backend_mnesia, sumo_backend_mnesia, []}
  ]},
  {stores, [
    {sumo_test_mnesia, sumo_store_mnesia, [
      {workers, 10},
      {disc_copies, here},
      {majority, false}
    ]}
  ]},
  {docs, [
    {express_account, sumo_test_mnesia, #{module => express_deploy_db_account}}
]},
{events, [
 %% {post, blog_event_handler}
]}
]}
].
